<div id="mobile-menu" class=" hamburger mobile-menu">
    <span></span>
    <span></span>
    <span></span>
</div>

<nav id="mobile-menu-wrapper" class="mobile-menu__wrapper">
    <div id="mobile-menu-content" class="mobile-menu__content">
        {% include 'site-nav' %}
    </div>
</nav>
